---

- name: create directories for camac installation
  file:
    state: directory
    path: "{{ item }}"
  with_items:
    - "{{ camac_php_docroot }}"
    - "{{ camac_php_datadir }}"

- name: copy camac webroot to apache docroot
  synchronize:
    src: "{{ camac_releasedir }}/camac/camac/"
    dest: "{{ camac_php_docroot }}"
    delete: yes
  delegate_to: "{{ inventory_hostname }}"

- name: copy CA chain to config path
  copy:
    content: "{{ camac_ca_chain }}"
    dest: "{{ camac_php_docroot }}/ca.pem"
  when: camac_ca_chain | d(false)

- name: configure php for CA chain
  copy:
    content: |
      ; config for camac CA chain
      openssl.cafile = "{{ camac_confdir }}/ca.pem"
    dest: "/etc/php/7.0/apache2/conf.d/99-quovadis-ssl-chain.ini"
  when: camac_ca_chain | d(false)

- name: prepare php prepend file
  template:
    src: "prepend.php.j2"
    dest: "{{ camac_php_docroot }}/prepend.php"

- name: make camac dirs writable
  file:
    state: directory
    owner: "{{ camac_apache_user }}"
    dest: "{{ item }}"
  with_items:
    - "{{ camac_php_datadir }}"
    - "{{ camac_php_tmpdir }}/mpdf"
    - "{{ camac_php_logdir }}"

- name: symlink customer specific overrides files to configuration directory
  block:

  - file:
      dest: "{{ camac_php_docroot }}/configuration"
      state: directory

  - find:
      path: "{{ camac_php_docroot }}/{{ camac_application }}/"
      file_type: "any"
    register: find

  - file:
      src: "../{{ camac_application }}/{{ item.path | basename }}"
      dest: "{{ camac_php_docroot }}/configuration/{{ item.path | basename }}"
      state: link
    loop: "{{ find.files }}"

- name: configure camac php app
  template:
    src: "application.ini.j2"
    dest: "{{ camac_php_docroot }}/configuration/configs/application.local.ini"

- name: fix permission on basedir
  file:
    path: "{{ camac_php_basedir }}"
    owner: "{{ camac_apache_user }}"
