; {{ ansible_managed }}

[production]

upload.path = "{{ camac_php_datadir }}"

baseDomain = {{ camac_base_domain }}

mpdf.tmpDir = "{{ camac_php_tmpdir }}/mpdf"

resources.session.cookie_secure = {{ camac_session_secure }}

resources.db.adapter = "{{ camac_db_adapter }}"
resources.db.params.username = "{{ camac_db_username }}"
resources.db.params.password = "{{ camac_db_password }}"
resources.db.params.persistent = {{ camac_db_persistent | d(true) }}
resources.db.params.dbname = "{{ camac_db_dbname }}"
resources.db.params.host = "{{ camac_db_host }}"
resources.db.params.port = "{{ camac_db_port }}"
resources.db.params.charset = "{{ camac_db_charset | d('utf8') }}"

; Mail settings
resources.mail.transport.type = smtp
resources.mail.transport.host = "{{ camac_mail_host }}"
resources.mail.transport.port = "{{ camac_mail_port }}"
resources.mail.defaultFrom.email = "{{ camac_mail_from_email }}"
resources.mail.defaultFrom.name = "{{ camac_mail_from_name }}"

password.salt = "{{ camac_password_salt }}"

cache.backendOptions.servers.server.host = {{ camac_cache_host }}
cache.backendOptions.servers.server.port = {{ camac_cache_port }}

resources.db.cache.metadata.backendOptions.servers.server.host = {{ camac_cache_host }}
resources.db.cache.metadata.backendOptions.servers.server.port = {{ camac_cache_port }}

{% if camac_keycloak_enable %}
; Keycloak
keycloak.url = {{ camac_auth_idp_url }}
keycloak.realm = {{ camac_auth_idp_realm }}
keycloak.client = {{ camac_auth_sp_client }}
{% if camac_auth_proxy %}
keycloak.proxy = {{ camac_auth_proxy }}
{% endif %}
{% endif %}

resources.log.stream.writerParams.stream = "{{ camac_php_logdir }}/application.log"

; "Demo mode" for trainings: give more group memberships to new users
demoMode = "{{ camac_demo_mode }}"

; Url to the ember caluma form
portal.uri = {{ camac_portal_uri }}

; API
backend.api.host = "{{ camac_python_url }}"
backend.api.tokenType = "Bearer"

[staging : production]
[testing : production]
[development : production]
