; {{ ansible_managed }}

[production]

resources.session.cookie_secure = {{ camac_session_secure }}

resources.db.adapter = "{{ camac_db_adapter }}"
resources.db.params.username = "{{ camac_db_username }}"
resources.db.params.password = "{{ camac_db_password }}"
resources.db.params.persistent = {{ camac_db_persistent | d(true) }}
resources.db.params.dbname = "{{ camac_db_dbname }}"
resources.db.params.host = "{{ camac_db_host }}"
resources.db.params.port = "{{ camac_db_port }}"
resources.db.params.charset = "{{ camac_db_charset | d('utf8') }}"

password.salt = "{{ camac_password_salt }}"

cache.backendOptions.servers.server.host = {{ camac_cache_host }}
cache.backendOptions.servers.server.port = {{ camac_cache_port }}

resources.db.cache.metadata.backendOptions.servers.server.host = {{ camac_cache_host }}
resources.db.cache.metadata.backendOptions.servers.server.port = {{ camac_cache_port }}

{% if camac_keycloak_enable %}
; Keycloak
keycloak.url = {{ camac_auth_idp_url }}
keycloak.realm = {{ camac_auth_idp_realm }}
keycloak.client = {{ camac_auth_sp_client }}

; Custom plugins
resources.frontController.plugins.AuthenticationValidator = "Custom_Plugin_AuthenticationValidator"
{% endif %}

form.addValidationAttributes = true

login.redirect = false

phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

[staging : production]
[testing : production]
[development : production]
