[Unit]
Description=uWSGI Caluma
After=syslog.target

[Service]
ExecStart={{ caluma_pyenv_virtualenv_path }}/bin/uwsgi --ini {{ caluma_confdir }}/uwsgi.ini
WorkingDirectory={{ caluma_docroot }}
EnvironmentFile=-{{ caluma_docroot }}/.env
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
