[uwsgi]

# Path to wsgi.py
wsgi-file = {{ caluma_docroot }}/caluma/wsgi.py

# Http socket
http = {{ caluma_uwsgi_address }}:{{ caluma_uwsgi_port }}

# Work name
procname-prefix = "caluma "

{% include './templates/uwsgi.ini.j2' %}
