[uwsgi]
http = {{ camac_python_uwsgi_address }}:{{ camac_python_uwsgi_port }}
wsgi-file = {{ camac_python_docroot }}/camac/wsgi.py
max-requests = 2000
harakiri = 60
processes = {{ camac_python_uwsgi_processes }}
master = True
buffer-size = 8192