[uwsgi]

# Path to wsgi.py
wsgi-file = {{ camac_python_docroot }}/camac/wsgi.py

# Http socket
http = {{ camac_python_uwsgi_address }}:{{ camac_python_uwsgi_port }}

# Worker name
procname-prefix = "camac-api "

# Increase buffer size for larger request headers
buffer-size = 32768

# Logging
req-logger = file:/var/log/uwsgi/camac-api-req.log
logger = file:/var/log/uwsgi/camac-api-err.log

{% include './templates/uwsgi.ini.j2' %}
