[Unit]
Description=uWSGI Camac API
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini {{ camac_python_confdir }}/uwsgi.ini -H {{ camac_python_virtualenvdir }}
EnvironmentFile=-{{ camac_python_docroot }}/.env
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
