DJANGO_SETTINGS_MODULE="camac.settings"
DATABASE_NAME="{{ camac_db_dbname }}"
DATABASE_USER="{{ camac_db_username }}"
DATABASE_PASSWORD="{{ camac_db_password }}"
DATABASE_HOST="{{ camac_db_host }}"
DATABASE_PORT="{{ camac_db_port }}"
DJANGO_ALLOWED_HOSTS="{{ camac_python_django_allowed_hosts }}"
DJANGO_SECRET_KEY="{{ camac_python_django_secret_key }}"
DJANGO_MEDIA_ROOT="{{ camac_python_django_media_root }}"
DJANGO_TEMPFILE_DOWNLOAD_PATH="{{ camac_python_django_attachment_zip_path }}"
DJANGO_DEFAULT_FROM_EMAIL="{{ camac_python_django_default_from_email }}"
DJANGO_SERVER_EMAIL="{{ camac_python_django_server_email }}"
DJANGO_EMAIL_HOST="{{ camac_python_django_email_host }}"
DJANGO_EMAIL_PORT="{{ camac_python_django_email_port }}"
DJANGO_CLAMD_ENABLED="{{ camac_python_clamd_enabled }}"
DJANGO_CLAMD_TCP_ADDR="{{ camac_python_clamd_tcp_addr }}"
DJANGO_PUBLIC_BASE_URL="{{ camac_portal_uri }}"
DJANGO_INTERNAL_BASE_URL="{{ camac_python_url }}"
DJANGO_API_HOST ="{{ camac_api_host }}"
APPLICATION="{{ camac_application }}"
APPLICATION_ENV="{{ camac_env }}"
KEYCLOAK_URL="{{ camac_python_keycloak_url }}"
KEYCLOAK_REALM="{{ camac_python_keycloak_realm }}"
KEYCLOAK_CLIENT="{{ camac_python_keycloak_client }}"
KEYCLOAK_PORTAL_CLIENT="{{ camac_python_keycloak_portal_client }}"
OIDC_USERNAME_CLAIM="{{ camac_python_oidc_username_claim }}"
DOCUMENT_MERGE_SERVICE_URL="{{ camac_document_merge_service_url }}"
DEMO_MODE={{ camac_demo_mode }}
ECH_API={{ camac_ech_api }}
DJANGO_ADMINS="Admin <{{ camac_admin_email }}>"
DJANGO_REGISTRATION_URL={{ camac_python_django_registration_url }}

DYNAMIC_TASKS_CLASSES="{{ camac_caluma_dynamic_tasks_classes }}"
DYNAMIC_GROUPS_CLASSES="{{ camac_caluma_dynamic_groups_classes }}"
EVENT_RECEIVER_MODULES="{{ camac_caluma_event_receiver_modules }}"
VISIBILITY_CLASSES="{{ camac_caluma_visibility_classes }}"
VALIDATION_CLASSES="{{ camac_caluma_validation_classes }}"
PERMISSION_CLASSES="{{ camac_caluma_permission_classes }}"
DATA_SOURCE_CLASSES="{{ camac_caluma_data_source_classes }}"
OIDC_USERINFO_ENDPOINT="{{ camac_caluma_oidc_userinfo_endpoint }}"
OIDC_BEARER_TOKEN_REVALIDATION_TIME="{{ camac_caluma_oidc_bearer_token_revalidation_time }}"
META_FIELDS="{{ camac_caluma_meta_fields }}"

LANGUAGE_CODE="{{ camac_caluma_language_code }}"
LANGUAGES="{{ camac_caluma_languages }}"

ENABLE_HISTORICAL_API={{ camac_caluma_enable_historical_api}}

{% if http_proxy %}
HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
NO_PROXY={{ no_proxy }}
{% endif %}