DJANGO_SETTINGS_MODULE="camac.settings"
DJANGO_DATABASE_NAME="{{ camac_db_dbname }}"
DJANGO_DATABASE_USER="{{ camac_db_username }}"
DJANGO_DATABASE_PASSWORD="{{ camac_db_password }}"
DJANGO_DATABASE_HOST="{{ camac_db_host }}"
DJANGO_DATABASE_PORT="{{ camac_db_port }}"
DJANGO_ALLOWED_HOSTS="{{ camac_python_django_allowed_hosts }}"
DJANGO_SECRET_KEY="{{ camac_python_django_secret_key }}"
DJANGO_MEDIA_ROOT="{{ camac_python_django_media_root }}"
DJANGO_ATTACHMENT_ZIP_PATH="{{ camac_python_django_attachment_zip_path }}"
DJANGO_DEFAULT_FROM_EMAIL="{{ camac_python_django_default_from_email }}"
DJANGO_SERVER_EMAIL="{{ camac_python_django_server_email }}"
DJANGO_EMAIL_HOST="{{ camac_python_django_email_host }}"
DJANGO_EMAIL_PORT="{{ camac_python_django_email_port }}"
DJANGO_CLAMD_ENABLED="{{ camac_python_clamd_enabled }}"
DJANGO_CLAMD_TCP_ADDR="{{ camac_python_clamd_tcp_addr }}"
DJANGO_PUBLIC_BASE_URL="{{ camac_portal_uri }}"
DJANGO_INTERNAL_BASE_URL="{{ camac_python_url }}"
APPLICATION="{{ camac_application }}"
KEYCLOAK_URL="{{ camac_python_keycloak_url }}"
KEYCLOAK_REALM="{{ camac_python_keycloak_realm }}"
KEYCLOAK_CLIENT="{{ camac_python_keycloak_client }}"
KEYCLOAK_CAMAC_ADMIN_CLIENT="{{ camac_python_keycloak_camac_admin_client }}"
KEYCLOAK_CAMAC_ADMIN_CLIENT_SECRET="{{ camac_python_keycloak_camac_admin_client_secret }}"
CALUMA_URL="{{ camac_caluma_url }}"
DOCUMENT_MERGE_SERVICE_URL="{{ camac_document_merge_service_url }}"
DEMO_MODE={{ camac_demo_mode }}
ECH_API={{ camac_ech_api }}

{% if camac_auth_proxy %}
HTTP_PROXY="{{ camac_auth_proxy }}"
HTTPS_PROXY="{{ camac_auth_proxy }}"
{% endif %}
