DATABASE_NAME="{{ document_merge_service_db_dbname }}"
DATABASE_USER="{{ document_merge_service_db_username }}"
DATABASE_PASSWORD="{{ document_merge_service_db_password }}"

DATABASE_HOST="{{ document_merge_service_db_host }}"
DATABASE_PORT="{{ document_merge_service_db_port }}"
DATABASE_ENGINE="{{ document_merge_service_db_engine }}"

ALLOWED_HOSTS="{{ document_merge_service_django_allowed_hosts }}"
SECRET_KEY="{{ document_merge_service_django_secret_key }}"

OIDC_USERINFO_ENDPOINT="{{ document_merge_service_oidc_userinfo_endpoint }}"
OIDC_BEARER_TOKEN_REVALIDATION_TIME="{{ document_merge_service_oidc_bearer_token_revalidation_time }}"

DOCXTEMPLATE_JINJA_EXTENSIONS="{{ document_merge_service_docxtemplate_jinja_extensions }}"

MEDIA_ROOT="{{ document_merge_service_media_root }}"

REQUIRE_AUTHENTICATION=True
GROUP_ACCESS_ONLY=True
OIDC_GROUPS_API="{{ camac_portal_uri }}/api/v1/me?include=service,service.service_parent"
OIDC_GROUPS_API_JSONPATH="$.included[?(@.type=='services')].id"
OIDC_GROUPS_API_HEADERS="AUTHORIZATION,X-CAMAC-GROUP"

ADMINS="Admin <{{ camac_admin_email }}>"

{% if http_proxy %}
HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy and (http_proxy or https_proxy) %}
NO_PROXY={{ no_proxy }}
{% endif %}
