[Unit]
Description=uWSGI Document Merge Service
After=syslog.target

[Service]
ExecStart={{ document_merge_service_pyenv_virtualenv_path }}/bin/uwsgi --ini {{ document_merge_service_confdir }}/uwsgi.ini
WorkingDirectory={{ document_merge_service_docroot }}
EnvironmentFile=-{{ document_merge_service_docroot }}/.env
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
