DATABASE_NAME="{{ document_merge_service_db_dbname }}"
DATABASE_USER="{{ document_merge_service_db_username }}"
DATABASE_PASSWORD="{{ document_merge_service_db_password }}"

DATABASE_HOST="{{ document_merge_service_db_host }}"
DATABASE_PORT="{{ document_merge_service_db_port }}"
DATABASE_ENGINE="{{ document_merge_service_db_engine }}"

ALLOWED_HOSTS="{{ document_merge_service_django_allowed_hosts }}"
SECRET_KEY="{{ document_merge_service_django_secret_key }}"

OIDC_USERINFO_ENDPOINT="{{ document_merge_service_oidc_userinfo_endpoint }}"
OIDC_BEARER_TOKEN_REVALIDATION_TIME="{{ document_merge_service_oidc_bearer_token_revalidation_time }}"

DOCXTEMPLATE_JINJA_EXTENSIONS="{{ document_merge_service_docxtemplate_jinja_extensions }}"

UNOCONV_LOCAL="{{ document_merge_service_unoconv_local }}"

MEDIA_ROOT="{{ document_merge_service_media_root }}"

{% if camac_auth_proxy %}
HTTP_PROXY="{{ camac_auth_proxy }}"
HTTPS_PROXY="{{ camac_auth_proxy }}"
{% endif %}


OIDC_GROUPS_API="{{ camac_portal_uri }}/api/v1/me"
OIDC_GROUPS_API_JSONPATH="$.data.relationships.service.data.id"
OIDC_GROUPS_API_HEADERS="AUTHENTICATION,X_CAMAC_GROUP"
