DATABASE_NAME="{{ document_merge_service_db_dbname }}"
DATABASE_USER="{{ document_merge_service_db_username }}"
DATABASE_PASSWORD="{{ document_merge_service_db_password }}"

DATABASE_HOST="{{ document_merge_service_db_host }}"
DATABASE_PORT="{{ document_merge_service_db_port }}"
DATABASE_ENGINE="{{ document_merge_service_db_engine }}"

ALLOWED_HOSTS="{{ document_merge_service_django_allowed_hosts }}"
SECRET_KEY="{{ document_merge_service_django_secret_key }}"

OIDC_USERINFO_ENDPOINT="{{ document_merge_service_oidc_userinfo_endpoint }}"
OIDC_BEARER_TOKEN_REVALIDATION_TIME="{{ document_merge_service_oidc_bearer_token_revalidation_time }}"

DOCXTEMPLATE_JINJA_EXTENSIONS="{{ document_merge_service_docxtemplate_jinja_extensions }}"

UNOCONV_LOCAL="{{ document_merge_service_unoconv_local }}"

MEDIA_ROOT="{{ document_merge_service_media_root }}"
