[uwsgi]

mount = /document-merge-service={{ document_merge_service_docroot }}/document_merge_service/wsgi.py
manage-script-name = true

# Http socket
http = {{ document_merge_service_uwsgi_address }}:{{ document_merge_service_uwsgi_port }}

# Worker name
procname-prefix = "document-merge-service "

# Logging
req-logger = file:/var/log/uwsgi/document-merge-service-req.log,maxsize=2000000
logger = file:/var/log/uwsgi/document-merge-service-err.log,maxsize=2000000

{% include './templates/uwsgi.ini.j2' %}