[uwsgi]
http = {{ document_merge_service_uwsgi_address }}:{{ document_merge_service_uwsgi_port }}
wsgi-file = {{ document_merge_service_docroot }}/document_merge_service/wsgi.py
max-requests = 2000
harakiri = 60
processes = 4
master = True
buffer-size = 8192