PATCHED_CONFIG=$(cat  {{ ember_docroot }}/dist/index.html \
    | grep '<meta name="caluma-portal/config/environment"' \
    | sed -e 's|<meta name="caluma-portal/config/environment" content="\(.*\)" />$|\1|' \
    | python3 -c "import sys, urllib.parse as up; print(up.unquote(sys.stdin.read()));" \
    | jq '."ember-simple-auth-oidc".host = "{{ ember_oidc_endpoint }}"' \
    | jq '."ember-simple-auth-oidc".clientId = "{{ ember_oidc_client }}"' \
    | jq '.ebau.internalURL = "{{ ember_internal_url }}"' \
    | jq '.ebau.beGisUrl = "{{ gis_map_url }}"' \
    | python3 -c "import sys, urllib.parse as up; print(up.quote(sys.stdin.read()));")

sed \
    "s|<meta name=\"caluma-portal/config/environment\".*|<meta name=\"caluma-portal/config/environment\" content=\"$PATCHED_CONFIG\" />|" \
    -i {{ ember_docroot }}/dist/index.html
