PATCHED_CONFIG=$(cat  {{ ember_docroot }}/dist/index.html \
        | grep '<meta name="ember-caluma-portal/config/environment"' \
        | sed -e 's|<meta name="ember-caluma-portal/config/environment" content="\(.*\)" />$|\1|' \
        | python2 -c "import sys, urllib as ul; print ul.unquote(sys.stdin.read());" \
        | jq '."ember-simple-auth-oidc".host = "{{ ember_oidc_endpoint }}"' \
        | jq '."ember-simple-auth-oidc".clientId = "{{ ember_oidc_client }}"' \
        | jq '.ebau.internalURL = "{{ ember_internal_url }}"' \
        | python2 -c "import sys, urllib as ul; print ul.quote(sys.stdin.read());")

sed \
    "s|^<meta name=\"ember-caluma-portal/config/environment\".*|<meta name=\"ember-caluma-portal/config/environment\" content=\"$PATCHED_CONFIG\" />|" \
    -i {{ ember_docroot }}/dist/index.html
